%nav.navbar.navbar-default
  .container
    #navbar
      %ul.nav.navbar-nav
        %li
          %a{:href => root_path} Home
        %li
          %a{:href => authors_path} Authors
        %li
          %a{:href => songs_path} Songs
        %li
          %a{:href => downloads_path} Downloads